    @import 'Utilities.css';

    :root{
        --primary:#84a98c;
        --dark:#2f3e46;
        --ternery:#354f52;
        --pure:#52796f;
        --light:#cad2c5;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-font-smoothing:antialised;
    }

    body{
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    

    header{
        background: var(--dark);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 90%, 0 100%);
    }

    .container{
        max-width: 1152px;
        padding: 0 15px;
        margin: 0 auto;
    }

    header nav .left a{
        color: var(--light);  /*To chane link/home/about color*/
        text-decoration: none; /*This is just to remove underline*/
        margin-right: 32px; /*This is For give a right margin between links/home/about*/
        text-transform: uppercase; 
        transition: all .3s ease; /*To give slow time while hover*/
    }
    header div nav div img{
        height: 90px;
    }

    header nav .left a:hover{
        color: var(--primary);
    }

    header nav{
        padding: 10px 0;
    }
    header nav .branding{
        margin-right: 32px;
    }

    .hero{
        padding-bottom: 50px;
    }

    .hero .left img{
        height: 500px;
    }

    .hero .right{
        color: white;
    }

    .hero .right h6{
        font-size: 25px;
        color: var(--primary);
        margin-bottom: 10px;
    }

    .hero .right h1{
        font-size: 70px;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .hero .right h1 span{
        color: var(--primary);   
    }

    .hero .right p{
        text-align:justify;
        line-height: 1.9;
        margin-bottom: 25px;
    }

    section{
        padding: 40px 0;
    }

    section.about .aboutMe_Img{
        height: 450px;
    }

    section.about h1{
        margin-bottom: 5px ;
        font-size: 40px;
        font-weight: 500;
    }

    section.about h1 span{
        color: var(--primary);
    }

    section.about h3{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px ; /*To give Space/Mirgin From Bootom*/
    }
    section.about p{
        margin: 10px 0;
        color: var(--pure);
        text-align: justify;
        line-height: 25px; /*To Add line space*/
    }

    section.about .social{
        display: flex;
    }

    section.about .social a {
        background: var(--dark);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        margin-right: 10px;
        border-radius: 6px;
    }

    /*Hover Class for Social Media*/
    section.about .social a:hover {
        background: var(--pure);
        transition: all .3s ease;
    }
    
    section.about .social img{
        padding: 2px;
        width: 100%;
        height: 100%;
    }

    .section-heading{
        color: var(--pure);
        text-align: center;
        margin-bottom: 10px;
    }

    .section-heading span{
        color: var(--primary);
    }

    .section-heading + p{
        text-align: center;
        margin-bottom: 100px;
    }


    section.services{
        background:#e3eadf;
    }

    section.services .card-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three equal columns */
        grid-column-gap: 20px;
    }

    section.services .card-wrapper .card{
        background: white;
        padding: 30px 20px;
        text-align: center;
        position: relative;
        padding-top: 75px ;
    }

    section.services .card-wrapper .card img{
        background: var(--primary);
        display: flex;
        height: 100px;
        width: 100px;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }

    section.services .card-wrapper .card h2{
        margin-bottom: 10px;
    }